body {
      font-family: 'Playfair Display', serif;
      margin: 0;
      padding: 0;
      background: #f9f9f9;
      color: #333;
    }
    header {
      background: #FFA5B0;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 24px;
      box-shadow: 0 0 10px rgb(75, 75, 75);
    }
    .container {
      max-width: 1000px;
      margin: 40px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      background: white;
      border-radius: 12px;
      padding: 30px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }
    .product-image {
      flex: 1;
      min-width: 300px;
    }
    .product-image img {
      width: 100%;
      border-radius: 8px;
    }
    .product-details {
      flex: 2;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .price {
      font-size: 22px;
      font-weight: bold;
      color: #FFA5B0;
    }
    select {
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
    button {
      padding: 12px;
      background: #FFA5B0;
      border: none;
      color: white;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
    }
    button:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(255, 60, 172, 0.6);
    }